{{ partial "head.html" . }}
<body class="homepage">

    <header class="header">
        {{ partial "nav.html" . }}

        <div class="container">
            <div class="lead">The flexible, fast, and secure template engine for PHP</div>
            <div class="manalas">
                <div class="circle circle-1"></div>
                <div class="circle circle-2"></div>
                <div class="circle circle-3"></div>
                <div class="circle circle-4"></div>
                <div class="circle circle-5"></div>
                <div class="circle circle-6"></div>
                <img src="/images/manalas-header.png" alt="Manalas" />
            </div>
        </div>
    </header>

    <div class="main container">
        <div class="intro">
            <h1>Un titre d'intro</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione placeat pariatur consequatur laboriosam iste nulla eum voluptas.</p>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <p><img src="/images/tools.png" alt="" /></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae adipisci quia itaque recusandae libero eius beatae blanditiis repellendus exercitationem provident aperiam sunt accusantium et tenetur impedit tempore, alias sint dolore!</p>
            </div>
            <div class="col-sm-4 text-center">
                <p><img src="/images/editor.png" alt="" /></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae adipisci quia itaque recusandae libero eius beatae blanditiis repellendus exercitationem provident aperiam sunt accusantium et tenetur impedit tempore, alias sint dolore!</p>
            </div>
            <div class="col-sm-4 text-center">
                <p><img src="/images/settings.png" alt="" /></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae adipisci quia itaque recusandae libero eius beatae blanditiis repellendus exercitationem provident aperiam sunt accusantium et tenetur impedit tempore, alias sint dolore!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <p><img src="/images/logo-ansible.png" alt="" /></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae adipisci quia itaque recusandae libero eius beatae blanditiis repellendus exercitationem provident aperiam sunt accusantium et tenetur impedit tempore, alias sint dolore!</p>
            </div>
            <div class="col-sm-4 text-center">
                <p><img src="/images/logo-vagrant.png" alt="" /></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae adipisci quia itaque recusandae libero eius beatae blanditiis repellendus exercitationem provident aperiam sunt accusantium et tenetur impedit tempore, alias sint dolore!</p>
            </div>
            <div class="col-sm-4 text-center">
                <p><img src="/images/logo-docker.png" alt="" /></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae adipisci quia itaque recusandae libero eius beatae blanditiis repellendus exercitationem provident aperiam sunt accusantium et tenetur impedit tempore, alias sint dolore!</p>
            </div>
        </div>
        <div class="intro">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, sint.</p>
            <p><a href="#" class="btn">Install now</a></p>
        </div>
    </div>

    {{ partial "footer.html" . }}

</body>
</html>
